*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: #f0f5fc;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.bars {
  display: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-weight: 500;
  color: #000;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
}

.nav-link:hover{
  background: rgb(212, 195, 195);
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #000;
}

.container {
  width: 60%;
  margin: auto;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

.form {
  width: 100%;
  display: inline-block;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
}

input:focus {
  outline: none;
  border-color: #0d6efd;
}

button {
  background-color: #0d6efd;
  color: white;
  margin: 10px 0;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

button:hover {
  opacity: 0.8;
}

.invalid {
  border-color: red;
}

.errmsg {
  position: relative;
  top: -5px;
  margin-bottom: 5px;
  color: red;
  font-size: 14px;
}

@media (max-width: 576px) {
  nav .navigation {
    display: none;
  }

  .container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .bars {
    display: block;
    cursor: pointer;
  }

}
